<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

<style>
th, td {
  border: 1px solid black;
}
</style>
</head>

<body>
<div class="container">
<h2>TABLE student</h2>
<table>
<tr>
    <th>ID <img src="/sort-alt.png"></th>
    <th>FIRST NAME</th>
    <th>LAST NAME</th>
    <th>EMAIL</th>
    <th>PHONE AREA CODE</th>
    <th>PHONE NUMBER</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
</tr>
    <% results.forEach(function(r) { %>
        <tr>
        <td><%= r.id %></td>
        <td><%= r.firstname %></td>
        <td><%= r.lastname %></td>
        <td><%= r.email %></td>
        <td><%= r.phoneareacode %></td>
        <td><%= r.phonenumber %></td>
        <td><input type="button" onclick="window.location.href='/studentdeleteconfirm/<%= r.id %>/<%= r.firstname %>/<%= r.lastname %>'"   value="DELETE"></td>
        <td><input type="button" onclick="window.location.href='/studentupdate/<%= r.id %>'"          value="UPDATE"></td>
        <td><input type="button" onclick="window.location.href='/studentmonthlysubscription/<%= r.id %>/<%= r.firstname %>/<%= r.lastname %>'" value="MONTHLY SUBSCRIPTION"></td>
        <td><input type="button" onclick="window.location.href='/studentmakereservation/<%= r.id %>/<%= r.firstname %>/<%= r.lastname %>'" value="MAKE RESERVATION"></td>
        </tr>
    <% }); %>
</table>
<input type="button" onclick="window.location.href='/studenttableinsert'" value="INSERT">
<input type="button" onclick="window.location.href='/'" value="HOME">
</div>
</body>
</html>
