<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

<script>
const openModalBtn = document.getElementById('deleteconfirmID');
openModalBtn.addEventListener('click', () => {
  deleteconfirmID.showModal(); // Opens the dialog as a modal
});
</script>

<style>
th, td {
  border: 1px solid black;
}
</style>
</head>
<body>

<dialog id="deleteconfirmID">
  <h2>DELETE CONFIRM</h2>
  <p>Are you sure you want to delete this student ?</p>
  <button id="closeModalBtn">Close</button>
</dialog>

<div class="container">
<h2>TABLE student</h2>
<table>
<tr>
    <th>ID</th>
    <th>FIRST NAME</th>
    <th>LAST NAME</th>
    <th>EMAIL</th>
    <th>PHONE AREA CODE</th>
    <th>PHONE NUMBER</th>
    <th></th>
    <th></th>
    <th></th>
</tr>
    <% results.forEach(function(r) { %>
        <tr>
        <td><%= r.id %></td>
        <td><%= r.firstname %></td>
        <td><%= r.lastname %></td>
        <td><%= r.email %></td>
        <td><%= r.phoneareacode %></td>
        <td><%= r.phonenumber %></td>
        <td><input type="button" onclick="document.getElementById('deleteconfirmID').showModal();"   value="DELETE"></td>
        <td><input type="button" onclick="window.location.href='./studentupdate/<%= r.id %>'" value="UPDATE"></td>
        <td><input type="button" onclick="window.location.href='./studentmonthlysubscription/<%= r.id %>/<%= r.firstname %>/<%= r.lastname %>'" value="MONTHLY SUBSCRIPTION"></td>
        </tr>
    <% }); %>
</table>
<input type="button" onclick="window.location.href='./studenttableinsert'" value="INSERT">
<input type="button" onclick="window.location.href='/'" value="HOME">
</div>
</body>
</html>
