<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
<h2><%= myresults %></h2>

<p>
<%= firstname %> <%= lastname %>
</p>
<form action="/correct_home" method="post" enctype="multipart/form-data">
     <input type="hidden" name="studentID_name" value="<%= studentID %>">
     <input type="hidden" name="firstname_name" value="<%= firstname %>">
     <input type="hidden" name="lastname_name"  value="<%= lastname %>">
     <input type="hidden" name="adminbool_name"  value="<%= adminbool %>">
     <input type="submit" value="OK">
</form>
</div>
</body>
</html>
