<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>

<body>
  <div class="container">
  <h2>MAKE CLASS RESERVATION</h2>
  <h2>STUDENTID <%= studentID %> <%= firstname %> <%= lastname %></h2>
  <h2>MONTH=<%= month %> DAY=<%= day %> YEAR=<%= year %></h2>
  <h2>
     <% if (dayIndex == 0) { %>
SUNDAY 
     <% } else if (dayIndex == 1) { %>
MONDAY 
     <% } else if (dayIndex == 2) { %>
TUESDAY
     <% } else if (dayIndex == 3) { %>
WEDNESDAY 
     <% } else if (dayIndex == 4) { %>
THURSDAY 
     <% } else if (dayIndex == 5) { %>
FRIDAY 
     <% } else if (dayIndex == 6) { %>
SATURDAY 
     <% } %>
  </h2>
  <form action="/reservation_insert_post_2/<%= studentID %>/<%= firstname %>/<%= lastname %>/<%= month %>/<%= day %>/<%= year %>" method="post" enctype="multipart/form-data">
     <label>LOCATION: </label>
     <input type="radio" name="location_name" id="location_papakolea_id" value="PAPAKOLEA" checked /><label>PAPAKOLEA</label>
     <input type="radio" name="location_name" id="location_kakaako_id" value="KAKAAKO" /><label>KAKAAKO</label>
     <br />
     <label>TIME: </label>
     <input type="radio" name="time_name" id="time_1_id" value="1000" checked /><label>10:00 AM</label>
     <input type="radio" name="time_name" id="time_2_id" value="1100" /><label>11:00 AM</label>
     <input type="radio" name="time_name" id="time_3_id" value="1730" /><label>5:30 PM</label>
     <input type="radio" name="time_name" id="time_4_id" value="1845" /><label>6:45 PM</label>
     <br />
     <input type="submit" value="MAKE CLASS RESERVATION">
     <input type="button" onclick="window.location.href='/'" value="CANCEL">
  </form>
  </div>
</body>
</html>
